<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
        <img src="img/logo.png"/>
        <h1>Calculate</h1>
        <form action="/calculate" method="POST">
            <label>Enter Height</label>
            <input type="text" name="height" /> <br/>
           <label>Enter Weight</label>
           <input type="text" name="weight" />
            <button type="submit">CALCULATE BMI</button>
        </form>
</body>
</html>

      //api key   rnd_Xuh2CI64rTO6FzfcDELKIrRBG14u
      // token  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